<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

        <div id="app" class="container">
            <div class="new-task">

            </div>
            <div class="tasks">
                <ul>
                    <template v-for="todo in todos">
                        
                            <li v-if="todo.done">
                                 <s>{{todo.text}}</s>
                                <li v-else>{{todo.text}}</li>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

            <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
            <script src="./assets/js/main.js"></script>
        </body>
    </html>